<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>注文登録確認画面 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="order_check">

	<h2 class="title">注文内容最終確認</h2>
	
	<div th:each="bk: ${session.baskets}" class="err_stockNone">
	<!-- エラー：注文時点で在庫数が0の場合 -->
		<p th:if="${bk.stock == 0}"
			><span th:text="${bk.name}"></span>は、在庫切れのため注文できません。</p>
	<!-- エラー：注文数が在庫数より多い場合 -->
		<p th:if="${bk.stock lt bk.orderNum && bk.stock != 0}"
			><span th:text="${bk.name}"></span>は、在庫不足のため、在庫数分のみ注文できます。</p></div>

	<div class="item_info_form_area">
		<table class="list_table item_datail" th:unless="${#lists.isEmpty(session.orderItem)}">
			<tr>
				<th>商品名</th>
				<th>商品画像</th>
				<th>単価</th>
				<th>数量</th>
				<th>小計</th></tr>
			<tr th:each="item: ${session.orderItem}">
				<td th:text="${item.name}"></td>
				<td class="check_image_area"><span th:if="${item.image != null}">
						<img th:src="@{/img/{image}(image=${item.image})}" class="check_image"></img></span>
					<span th:if="${item.image == null}">
						<img th:src="@{/img/common/no_image.jpg}" class="check_image"></img></span></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.orderNum}"></td>
				<td th:text="${item.subtotal}"></td></tr>
			<tr >
				<td colspan="3"></td>
				<td>合計</td>
				<td th:text="${total}"></td></tr>
		</table>
		
		<div><input type="hidden" name="backFlg" value="false">
			<p>お届け先</p>
			<table class="detail_table address">
				<tr>
					<th>郵便番号</th>
					<td th:text="${order.postalCode}"></td></tr>
				<tr>
					<th>住所</th>
					<td th:text="${order.address}"></td></tr>
				<tr>
					<th>氏名</th>
					<td th:text="${order.name}"></td></tr>
				<tr>
					<th>電話番号</th>
					<td th:text="${order.phoneNumber}"></td></tr>
			</table>
			
			<p>お支払方法</p>
			<table class="detail_table pay" th:switch="${order.payMethod}">
				<tr>
					<th>お支払い方法</th>
					<td>
						<span th:case="1">クレジットカード</span>
						<span th:case="2">銀行振り込み</span>
						<span th:case="3">着払い</span>
						<span th:case="4">電子マネー</span>
						<span th:case="5">コンビニ決済</span></td></tr>
			</table></div>
		
		<form th:action="@{/order/complete}"th:unless="${#lists.isEmpty(session.orderItem)}" method="post">
		    <input type="submit" value="ご注文の確定" class="send_button" />
		    <input type="hidden" name="postalCode" th:value="${order.postalCode}" />
		    <input type="hidden" name="address" th:value="${order.address}" />
		    <input type="hidden" name="name" th:value="${order.name}" />
		    <input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}" />
		    <input type="hidden" name="payMethod" th:value="${order.payMethod}" />			    
		</form>
		<form th:action="@{/payment/input}" method="post">
		    <input type="submit" value="戻る" class="back_button" />
		    <input type="hidden" name="backFlg" value="true"/>
		    <input type="hidden" name="postalCode" th:value="${order.postalCode}" />
		    <input type="hidden" name="address" th:value="${order.address}" />
		    <input type="hidden" name="name" th:value="${order.name}" />
		    <input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}" />
		 </form>
	</div>
</body>
</html>